/* game board table */

#board td {
  width: 50px;
  height: 50px;
  border: solid 1px #666;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
}

.piece.p1 {
  background-color: red;
}

.piece.p2 {
  background-color: blue;
}

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
}

.active-game td {
  background: palegreen;
}

#column-top td:hover {
  background-color: gold;
 }

input::placeholder {
  font-size: .75rem;
}
.err-msg {
  margin-top: .25rem;
}

.err-msg-btn,
.err-msg-txt  { 
  color: red;
  font-size: .75rem;
  background-color: rgb(247, 247, 165);
  margin-left: 1rem;
}